<div class="app">
    <header class="header">
        <h1>Utah Jazz Live Stream</h1>
    </header>
    <div class="stream-container">
        <iframe frameborder=0 src={{link}} allowfullscreen scrolling=no allowtransparency></iframe>
    </div>
</div>