<div class="app">
    <header class="header">
        <h1>Utah Jazz Live Stream</h1>
    </header>
    <div class="stream-container">
        <a target="_blank" href="{{link}}">Watch Now</a>
    </div>
</div>