* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

.app {
  width: 100vw;
  height: 100vh;
  background-color: #191919;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 10vh;
  background-color: #292929;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
}
.header h1 {
  font-size: 28px;
}

.stream-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  padding: 1rem 2rem;
  background: #0abb87;
  color: white;
  font-weight: bold;
  border-radius: 1rem;
  text-decoration: none;
}
